.container-fluid.container-1 {
    padding-bottom: 200px;
    background-color: rgb(109, 1, 1);
}
.container-1-left-col{
    margin-left: 15%;
}
.col.image-1-div{
    margin-top: 10%;
}
.image-1{
    width:35px;
    height:35px;
    border-radius: 50%;
}
.container-1-right-col{
    margin-right: 20%;
    margin-top: 10%;
}
.nav-bar-item{
    text-decoration: none;
    color: white;
}
.col.main-heading{
    margin-left: -15px;
    margin-top: 9%;
}
.main-heading-1{
    color: white;
}
.btn.btn-danger.button-1{
    background-color:white;
    color: red;
}
.paragraph-1{
    color: white;
    margin-bottom: 50px;
    margin-left: 3px;
}
.heading-1{
    color: white;
    margin-top: 15%;
}
.container-2-heading{
    padding-top: 5%;
}
.heading-2{
    text-align:center;
    color: black;
    font-weight: bold;
    margin-top:1%;
}
.info-container-1{
    border-style:solid;
    border-color:rgb(243, 242, 242);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 85%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
}
.fas.fa-exclamation-circle.icon-1{
    position: absolute;
    font-size:36px;
    margin-top: -12%;
    margin-left: 35%;
}
.info-container-1-heading{
    text-align: center;
    font-weight: bold;
}
.info-container-1-paragraph{
    text-align: center;
}
.col.container-2-col{
    margin-left: 5%;
}
.row.container-2-row{
    margin-top: 5%;
}
.container-3{
    margin-top: 9%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 9%;
    padding-bottom: 9%;
}
.container-3-heading{
    margin-bottom: 10%;
    margin-left: -1%;
}
.container-4{
    margin-top: 50px;
    margin-bottom: 80px;
}
.container-4-heading{
    text-align: center;
}
.all-comments{
    display: flex;
    flex-direction: row;
    width: 98vw;
}
.comments-col-1{
    display: flex;
    flex-direction:column;
    margin-top: 30px;
    width: 50%;
    align-items: flex-end;
}
.comment-box-1-1{
    display: flex;
    flex-direction: column;
}
.dialog-box-1-1{
    border-style:solid;
    border-width: 2px;
    border-color:rgb(214, 209, 209);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: 3%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content:center;
}
.profile-1-1{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 10px;
}
.description-1-1{
  display: flex;
  flex-direction:column;
  margin-top: 8px;
  align-items: flex-end;
  margin-right: 10px;
}
.writer{
    font-weight: bolder;
}
.writer-position{
    margin-top: -10px;
    color: gray;
}
.far.fa-laugh.happy-smile{
    font-size: 50px;
}
.comment-box-1-2{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.dialog-box-1-2{
    border-style:solid;
    border-width: 2px;
    border-color:rgb(214, 209, 209);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: 3%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content:center;
}
.profile-1-2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 13px;
}
.description-1-2{
  display: flex;
  flex-direction:column;
  margin-top: 8px;
  align-items: flex-end;
  margin-right: 12px;
}
.comments-col-2{
    display: flex;
    flex-direction:column;
    margin-top: 30px;
    width: 50%;
    align-items: flex-start;
}
.comment-box-2-1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 75%;
    margin-left: 20px;
}
.dialog-box-2-1{
    border-style:solid;
    border-width: 2px;
    border-color:rgb(214, 209, 209);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 100%;
    margin-left: 3%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content:center;
}
.profile-2-1{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 10px;
}
.description-2-1{
  display: flex;
  flex-direction:column;
  margin-top: 8px;
  align-items: flex-end;
  margin-right: 10px;
}
.comment-box-2-2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 75%;
    margin-left: 20px;
}
.dialog-box-2-2{
    border-style:solid;
    border-width: 2px;
    border-color:rgb(214, 209, 209);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 100%;
    margin-left: 3%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content:center;
}
.profile-2-2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 12px;
}
.description-2-2{
  display: flex;
  flex-direction:column;
  margin-top: 8px;
  align-items: flex-end;
  margin-right: 10px;
}
.arrow {
    border: solid rgb(214, 209, 209);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
.icon-2{
    margin-left: 95%;
    margin-bottom: -23px;
  }
.container-fluid.container-5{
    padding-top: 10px;
    padding-bottom: 80px;
    background-color:  rgb(77, 77, 77);
}
.row.container-5-row{
    margin-top: 7%;
    margin-bottom: 4%;
}
.container-5-heading{
    margin-bottom: 30px;
    color: white;
    margin-left:18%;
}
.container-5-paragraph{
    color: white;
    margin-left:18%;
}
.btn.btn-outline-danger.container-5-button{
    border-color: white;
    color: white;
    width: 190px;
    margin-left:18%;
}
.heading-5-2{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.heading-skills{
    margin-bottom: 10px;
    color: white;
}
.container-5-all-skills{
    color: white;
}
.language{
    margin-top: 20px;
}
.progress{
    width: 70%;
}
.progress-bar{
    width: 50%;
}
.container-6{
    margin-top: 8%;
    padding-bottom: 10px;
}
.container-6-heading{
    margin-bottom: 6%;
}
.container-6-image{
    width:300px;
    height:228px;
}
.blog{
    margin-left: 30px;
}
.blog-timeline{
    align-content: space-around;
    color: gray;
}
.blog-heading{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight:bold;
}
.date{
    margin-right: 35px;
}
.calender{
    margin-right: 2px;
}
.comments{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.comments-icon{
    margin-right: 2px;
}
.container-fluid.container-7{
    margin-top: 65px;
    background-color: rgb(163, 22, 22);
    padding-top: 50px;
    padding-bottom: 45px;
}
.container-7-heading{
    color: white;
    margin-left: 16%;
}
.container-7-paragraph{
    color: white;
    margin-left: 16%;
}
.btn.btn-outline-danger.container-7-button{
    color: white;
    border-color: white;
    padding: 15px 15px 15px 15px; 
    margin-left: 7%;  
}
.container-8{
    background-color:rgb(58, 54, 54);
    padding-top: 50px;
    padding-bottom: 50px;
}
.row.row-cols-auto.container-8-div{
    margin-left: 31%;
}
.container-8-image{
    width:35px;
    height:35px;
    border-radius: 50%;
    margin-top: 15%;
}
.container-8-digitas{
    color: white;
    margin-left: -10%;
}
.place{
    font-weight:bold;
    color: white;
}
.container-8-paragraph{
    color: white;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-left: 140px;
    margin-top: 45px;
}