.container-1 {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}
.front-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.material-icons{
    color: black;
    position: absolute;
    margin-left: 9%;
    margin-top: 26px;
    padding-left: 15px;
}
.main-heading{
    margin-left: 13%;
    margin-top: 20px;
    color: white;
}
.nav-bar{
  margin-left: 25%;
  list-style-type: none;
  overflow: hidden;
  margin-top: 30px;
}
.list-item-1{
    color: white;
    float: left;
    margin-left: 20px;
}
.front-1-2{
    margin-left: 10%;
}
.heading-1{
    color: white;
    margin-top: 5%;
    margin-bottom: 20px;
}
.heading-2{
    text-align:center;
    margin-top: 9%;
    margin-bottom: 60px;
}
.info-container{
    display: flex;
    flex-direction: row;
    justify-content:start;
}
.info-container-1{
    border-style:solid;
    border-color:rgb(243, 242, 242);
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 20%;
    margin-left: 3%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.icon-1{
    margin-top: -70px;
    margin-bottom: 35px;
}
.container-3{
    margin-top: 9%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 9%;
    padding-bottom: 9%;
}
.container-3-main{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.container-3-heading{
    margin-left: 600px;
    margin-bottom: 30px;
}
.container-3-paragrah{
    margin-left: 500px;
}
.all-comments{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.comments-col-1{
    display: flex;
    flex-direction:column;
    margin-top: 30px;
    width: 50%;
    align-items: flex-end;
}
.comment-box-1-1{
    display: flex;
    flex-direction: column;
}
.dialog-box-1-1{
    border-style:solid;
    border-width: 2px;
    border-color:rgb(214, 209, 209);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: 3%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content:center;
}
.profile-1-1{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 10px;
}
.description-1-1{
  display: flex;
  flex-direction:column;
  margin-top: 8px;
  align-items: flex-end;
  margin-right: 10px;
}
.comment-box-1-2{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.dialog-box-1-2{
    border-style:solid;
    border-width: 2px;
    border-color:rgb(214, 209, 209);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: 3%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content:center;
}
.profile-1-2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 13px;
}
.description-1-2{
  display: flex;
  flex-direction:column;
  margin-top: 8px;
  align-items: flex-end;
  margin-right: 12px;
}
.comments-col-2{
    display: flex;
    flex-direction:column;
    margin-top: 30px;
    width: 50%;
    align-items: flex-start;
}
.comment-box-2-1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 75%;
    margin-left: 20px;
}
.dialog-box-2-1{
    border-style:solid;
    border-width: 2px;
    border-color:rgb(214, 209, 209);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 100%;
    margin-left: 3%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content:center;
}
.profile-2-1{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 10px;
}
.description-2-1{
  display: flex;
  flex-direction:column;
  margin-top: 8px;
  align-items: flex-end;
  margin-right: 10px;
}
.comment-box-2-2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 75%;
    margin-left: 20px;
}
.dialog-box-2-2{
    border-style:solid;
    border-width: 2px;
    border-color:rgb(214, 209, 209);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 100%;
    margin-left: 3%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content:center;
}
.profile-2-2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 12px;
}
.description-2-2{
  display: flex;
  flex-direction:column;
  margin-top: 8px;
  align-items: flex-end;
  margin-right: 10px;
}
.arrow {
    border: solid rgb(214, 209, 209);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
.icon-2{
    margin-left: 95%;
    margin-bottom: -23px;
  }
.container-5{
    padding-top: 10px;
    padding-bottom: 80px;
}
.container-5-main{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 100px;
}
.heading-5-1{
    display: flex;
    flex-direction: column;
}
.heading-5-2{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.language{
    margin-top: 20px;
}
.progress{
    width: 500px;
    margin-top: -10px;
}
.container-6{
    margin-top: 70px;
    padding-bottom: 10px;
}
.main-blog{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
}
.blog{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.blog-timeline{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    color: gray;
}
.blog-heading{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight:500;
}
.date{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 35px;
}
.comments{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.container-7{
    display: flex;
    flex-direction: row;
    margin-top: 65px;
    background-color: rgb(177, 31, 31);
    padding-top: 50px;
    padding-bottom: 45px;
}
.container-7-heading{
    display: flex;
    flex-direction: column;
    margin-left: 140px;
}
.container-7-button{
    margin-left: 220px;
}
.container-8{
    display: flex;
    flex-direction: row;
    background-color:rgb(58, 54, 54);
    padding-top: 50px;
    padding-bottom: 50px;
}
.address-1{
    margin-left: 50px;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-left: 140px;
    margin-top: 45px;
}